<div class="home-container">
  <div class="logo-container">
    <img src="../../../assets/Twitter-X.webp" alt="Twitter Logo" class="Twitter-logo">
    <h1 class="app-name twitter-title">Twitter/X Downloader</h1>
  </div>

  <p class="subtitle">{{ 'SUBTITLE_TWITTER' | translate }}</p>

  <input type="text" [(ngModel)]="tweetUrl" placeholder="{{ 'PASTE_TWEET_URL' | translate }}" />

  <button class="button twitter-button" (click)="download()" [disabled]="loading">
    <span *ngIf="!loading">{{ 'DOWNLOAD_TWITTER' | translate }}</span>
    <span *ngIf="loading">{{ 'LOADING' | translate }}...</span>
  </button>

  <div *ngIf="error" class="error-msg">{{ error }}</div>

  <div class="options">
    <a routerLink="/" class="button home-button">{{ 'HOME' | translate }}</a>
  </div>

  <div class="language-selector">
    <button (click)="changeLanguage('es')">🇪🇸 Español</button>
    <button (click)="changeLanguage('en')">🇬🇧 English</button>
    <button (click)="changeLanguage('gl')">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Galicia.svg" alt="Galicia" width="20">
      Galego
    </button>
  </div>
</div>
