<div class="home-container">
  <div class="logo-container">
    <img src="/assets/EverLoad home logo.png" alt="" class="everload-logo">
    <link rel="icon" type="image/png" href="assets/Logo App.png">


    <!-- ====== MENÚ HAMBURGUESA ====== -->
    <input type="checkbox" id="navcheck" role="button" title="menu">
    <label for="navcheck" aria-hidden="true" title="menu">
      <span class="burger">
        <span class="bar"><span class="visuallyhidden"></span></span>
      </span>
    </label>
    <nav id="menu">
      <a routerLink="/admin-config" class="admin-menu-button in-menu">Admin</a>
      <a routerLink="/about-app" class="about-menu-button in-menu">About</a>
    </nav>
    <!-- ====== FIN MENÚ HAMBURGUESA ====== -->
  </div>

  <main>
    <div class="content">
      <p class="subtitle">{{ 'SUBTITLE' | translate }}</p>

      <div class="options">
        <a routerLink="/youtube-downloads" class="button youtube-button">
          <img src="/assets/youtube-icon-logo-719479.png" alt="YouTube" class="icon"> {{ 'DOWNLOAD_YOUTUBE' | translate
          }}
        </a>
        <a routerLink="/twitter-downloads" class="button twitter-button">
          <img src="/assets/twitter-icon.png" alt="Twitter" class="icon"> {{ 'DOWNLOAD_TWITTER' | translate }}
        </a>
        <a routerLink="/facebook-downloads" class="button facebook-button">
          <img src="/assets/fb sin fondo.png" alt="Facebook" class="icon"> {{ 'DOWNLOAD_FACEBOOK' | translate }}
        </a>
        <a routerLink="/instagram-downloads" class="button instagram-button">
          <img src="/assets/instagram-icon.png" alt="Instagram" class="icon"> {{ 'DOWNLOAD_INSTAGRAM' | translate }}
        </a>
        <a routerLink="/spotify-downloads" class="button spotify-button">
          <img src="assets/Spotify.png" alt="Spotify" class="icon"> {{ 'DOWNLOAD_SPOTIFY' | translate }}
        </a>
        <a routerLink="/tiktok-downloads" class="button tiktok-button">
          <img src="/assets/tiktok_logo.png" alt="TikTok" class="icon"> {{ 'DOWNLOAD_TIKTOK' | translate }}
        </a>
      </div>

      <div class="language-selector">
        <button (click)="changeLanguage('es')">
          <img src="https://flagcdn.com/w40/es.png" alt="Bandera de España" class="flag" />
          Español
        </button>

        <button (click)="changeLanguage('en')">
          <img src="https://flagcdn.com/w40/gb.png" alt="Bandera del Reino Unido" class="flag" />
          English
        </button>

        <button (click)="changeLanguage('gl')">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Galicia.svg" alt="Bandera de Galicia"
            class="flag" />
          Galego
        </button>
      </div>

    </div>
  </main>
</div>