<div class="home-container">
  <div class="logo-container">
    <img src="/assets/EverLoad home logo.png" alt="" class="everload-logo">
    <link rel="icon" type="image/png" href="assets/Logo App.png">

   <!--  <h1 class="app-name">{{ 'APP_NAME' | translate }}</h1> -->
  </div>

 <p class="subtitle">{{ 'SUBTITLE' | translate }}</p>

  <div class="options">
    <a routerLink="/youtube-downloads" class="button youtube-button">
      <img src="/assets/youtube-icon-logo-719479.png" alt="YouTube" class="icon"> {{ 'DOWNLOAD_YOUTUBE' | translate }}
    </a>
  
    <a routerLink="/twitter-downloads" class="button twitter-button">
      <img src="/assets/twitter-icon.png" alt="Twitter" class="icon"> {{ 'DOWNLOAD_TWITTER' | translate }}
    </a>
  
    <a routerLink="/facebook-downloads" class="button facebook-button">
      <img src="/assets/fb sin fondo.png" alt="Facebook" class="icon"> {{ 'DOWNLOAD_FACEBOOK' | translate }}
    </a>
  
    <a routerLink="/instagram-downloads" class="button instagram-button">
      <img src="/assets/instagram-icon.png" alt="Instagram" class="icon"> {{ 'DOWNLOAD_INSTAGRAM' | translate }}
    </a>
  </div>
  

  <div class="creator-info">
    {{ 'CREATED_BY' | translate }} <strong>Xián Duán Taboada</strong> - 
    <a href="https://github.com/xianDT01" target="_blank">GitHub</a>
  </div>

  <div class="language-selector">
    <button (click)="changeLanguage('es')">🇪🇸 Español</button>
    <button (click)="changeLanguage('en')">🇬🇧 English</button>
    <button (click)="changeLanguage('gl')">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Galicia.svg" 
           alt="Bandera de Galicia" width="20"> Galego
    </button>
  </div>
</div>
