<div class="home-container">
    <div class="logo-container">
      <img src="../../../assets/fb sin fondo.png" alt="Facebook Logo" class="platform-logo">
      <h1 class="app-name facebook-title">Facebook Downloader</h1>
    </div>
  
    <p class="subtitle">{{ 'SUBTITLE_FACEBOOK' | translate }}</p>
  
    <input type="text" [(ngModel)]="videoUrl" placeholder="{{ 'PASTE_FACEBOOK_URL' | translate }}" />
  
    <button class="button facebook-button" (click)="download()" [disabled]="loading">
      <span *ngIf="!loading">{{ 'DOWNLOAD_FACEBOOK' | translate }}</span>
      <span *ngIf="loading">{{ 'LOADING' | translate }}...</span>
    </button>
  
    <div *ngIf="error" class="error-msg">{{ error }}</div>
  
    <div class="options">
      <a routerLink="/" class="button home-button">{{ 'HOME' | translate }}</a>
    </div>
  
    <div class="language-selector">
      <button (click)="changeLanguage('es')">🇪🇸 Español</button>
      <button (click)="changeLanguage('en')">🇬🇧 English</button>
      <button (click)="changeLanguage('gl')">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Galicia.svg" alt="Galicia" width="20">
        Galego
      </button>
    </div>
  </div>
  