<div class="login-split-container">
  <div class="left-panel facebook-panel">
    <img src="assets/fb sin fondo.png" alt="Facebook Logo" class="left-logo" />
  </div>

  <div class="right-panel">
    <div class="login-card">
      <h2 class="login-title facebook-title">Facebook Downloader</h2>

      <p class="subtitle">{{ 'SUBTITLE_FACEBOOK' | translate }}</p>

      <input
        type="text"
        [(ngModel)]="videoUrl"
        placeholder="{{ 'PASTE_FACEBOOK_URL' | translate }}"
        class="login-input"
      />

      <button class="login-button facebook-button" (click)="download()" [disabled]="loading">
        <span *ngIf="!loading">{{ 'DOWNLOAD_FACEBOOK' | translate }}</span>
        <span *ngIf="loading">{{ 'LOADING' | translate }}...</span>
      </button>

      <a routerLink="/" class="forgot-link">{{ 'HOME' | translate }}</a>

      <div *ngIf="error" class="error-msg">{{ error }}</div>

      <div class="language-selector">
        <button (click)="changeLanguage('es')">🇪🇸</button>
        <button (click)="changeLanguage('en')">🇬🇧</button>
        <button (click)="changeLanguage('gl')">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Flag_of_Galicia.svg" alt="Galicia" width="20" />
        </button>
      </div>
    </div>
  </div>
</div>
